<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{  asset('css/material.min.css') }}">
        <link rel="stylesheet" href="{{  asset('css/style.css') }}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="{{  asset('scripts/material.min.js') }}"></script>
        <script>
            window.addEventListener('load', function () {
                var loaderWrapper = document.getElementsByClassName('loaderWrapper')[0];
                loaderWrapper.style.display = 'none';
            });
        </script>
    </head>
    <body>
    <div class="loaderWrapper">
        <div class="loader" id="loader-4">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><a href="/"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" style="cursor: pointer"><i class="material-icons" id="nav_addBtn">add_circle</i></a>
                        {% if admin %}
                        <a class="mdl-navigation__link" style="cursor: pointer" id="nav_auth">Выход</a>
                        {% else %}
                        <a class="mdl-navigation__link" style="cursor: pointer" id="nav_auth">Вход</a>
                        {% endif %}
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title"><a href="/"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#"><i class="material-icons">account_circle</i>Мой канал</a>
                    <a class="mdl-navigation__link" href="#"><i class="material-icons">whatshot</i>В тренде</a>
                    <a class="mdl-navigation__link" href="#"><i class="material-icons">star_border</i>Выбор редакции</a>
                    <a class="mdl-navigation__link" href="" id="drawer_addBtn"><i class="material-icons">add_circle</i>Добавить перевод</a>
                    <hr class="style1">
                    <a class="mdl-navigation__link" href="#"><i class="material-icons">face</i>О нас</a>
                    <hr class="style1">
                    <a class="mdl-navigation__link" href="" id="drawer_auth"><i class="material-icons">perm_contact_calendar</i>Вход</a>

                </nav>
            </div>
            <main class="mdl-layout__content">
                {% block body %}{% endblock %}
            </main>
        </div>

        <div class="formWrapper mdl-grid" id="formWrapper">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-offset-desktop mdl-cell--4-col-desktop">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <form name="addform" enctype="multipart/form-data" method="post" action="/subeditor" novalidate>
                        <fieldset>
                            <legend>Добавить видео</legend>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="title" id="title" required/>
                                <label class="mdl-textfield__label" for="title" style="color: #4f4f4f">Название</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="idvid" id="idvid" required pattern=".*v=.*"/>
                                <label class="mdl-textfield__label" for="dvid" style="color: #4f4f4f">Ссылка</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" name="descript" id="descript" rows="5"
                              required></textarea>
                                <label class="mdl-textfield__label" for="descript" style="color: #4f4f4f">Описание</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="file" name="audio" id="audio" style="display: none"/>
                                <label class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                       for="audio">
                                    аудио перевод
                                </label>
                            </div>
                            <div class="buttonWrapper">
                                <button id="ok"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                        onclick="sendToSubeditor()">
                                    Ok
                                </button>
                                <button id="cancelForm" class="mdl-button mdl-js-button mdl-button--accent">
                                    Отмена
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

    <div class="formWrapper mdl-grid" id="authFormWrapper">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-offset-desktop mdl-cell--4-col-desktop">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <form name="authForm" enctype="multipart/form-data" method="post" action="/" novalidate>
                    <fieldset>
                        <legend>Вход</legend>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="title" id="title" required/>
                            <label class="mdl-textfield__label" for="title" style="color: #4f4f4f">Логин</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" name="idvid" id="idvid" required/>
                            <label class="mdl-textfield__label" for="dvid" style="color: #4f4f4f">Пароль</label>
                        </div>
                        <div class="buttonWrapper">
                            <input type="submit" name="authOk" id="authOk" value="Вход" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
                            <button id="authCancelBtn" class="mdl-button mdl-js-button mdl-button--accent">
                                Отмена
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>


        <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar" style="z-index: 11">
            <div class="mdl-snackbar__text"></div>
            <div class="mdl-snackbar__action"><i class="material-icons" style="color: white;">check</i></div>
        </div>


        {% block scripts %}{% endblock %}
    </body>
</html>
