<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{  asset('css/material.min.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="{{  asset('css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{  asset('scripts/material.min.js') }}"></script>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/index"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/index"><i class="material-icons">arrow_back</i></a>
                <a class="mdl-navigation__link" href="/administrator">Вход</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a href="/index"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#"><i class="material-icons">account_circle</i>Мой канал</a>
            <a class="mdl-navigation__link" href="#"><i class="material-icons">whatshot</i>В тренде</a>
            <a class="mdl-navigation__link" href="#"><i class="material-icons">star_border</i>Выбор редакции</a>
            <hr class="style1">
            <a class="mdl-navigation__link" href="#"><i class="material-icons">face</i>О нас</a>
            <hr class="style1">
            <a class="mdl-navigation__link" href="/administrator"><i class="material-icons">perm_contact_calendar</i>Вход</a>

        </nav>
    </div>
    <main class="mdl-layout__content">
        {% block body %}{% endblock %}
    </main>
</div>

{% block scripts %}{% endblock %}
</body>

</html>
