<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{  asset('css/material.min.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="{{  asset('css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{  asset('scripts/material.min.js') }}"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script>
        window.addEventListener('load', function () {
            var loaderWrapper = document.getElementsByClassName('loaderWrapper')[0];
            loaderWrapper.style.display = 'none';
        });
    </script>

</head>
<body>
<div class="mdl-layout__container">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/"><i class="material-icons">arrow_back</i></a>
                {% if admin %}
                    <a class="mdl-navigation__link" style="cursor: pointer" href="/administrator">Модерация</a>
                    <a class="mdl-navigation__link" style="cursor: pointer" onclick="deleteCookie('user')">Выход</a>
                {% else %}
                    <a class="mdl-navigation__link" style="cursor: pointer" id="nav_auth">Вход</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a href="/"><img src="{{  asset('img/yr_logo.png') }}" alt="YouTube translate"/></a></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#"><i class="material-icons">account_circle</i>Мой канал</a>
            <a class="mdl-navigation__link" href="#"><i class="material-icons">whatshot</i>В тренде</a>
            <a class="mdl-navigation__link" href="/top"><i class="material-icons">star_border</i>Выбор редакции</a>
            <hr class="style1">
            <a class="mdl-navigation__link" href="#"><i class="material-icons">face</i>О нас</a>
            <hr class="style1">
            {% if admin %}
                <a class="mdl-navigation__link" href="/administrator"><i class="material-icons">edit</i>Модерация</a>
                <a class="mdl-navigation__link" href="" onclick="deleteCookie('user')"><i class="material-icons">perm_contact_calendar</i>Выход</a>
            {% else %}
                <a class="mdl-navigation__link" href="" id="drawer_auth"><i class="material-icons">perm_contact_calendar</i>Вход</a>
            {% endif %}
        </nav>
    </div>
</div>
    </div>
{% block body %}{% endblock %}
<div class="formWrapper mdl-grid" id="authFormWrapper">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-offset-desktop mdl-cell--4-col-desktop">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <form name="authForm" enctype="multipart/form-data" method="post" action="/" novalidate>
                <fieldset>
                    <legend>Вход</legend>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="title" id="title" required/>
                        <label class="mdl-textfield__label" for="title" style="color: #4f4f4f">Логин</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" name="idvid" id="idvid" required/>
                        <label class="mdl-textfield__label" for="dvid" style="color: #4f4f4f">Пароль</label>
                    </div>
                    {% block hiddenUrl %}
                    {% endblock %}
                    <div class="buttonWrapper">
                        <input type="submit" id="authOk" name="authOk" value="Вход" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
                        <button id="authCancelBtn" class="mdl-button mdl-js-button mdl-button--accent">
                            Отмена
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

{% block scripts %}{% endblock %}
<script>
        function setCookie(name, value, options) {
        options = options || {};

        var expires = options.expires;

        if (typeof expires == "number" && expires) {
            var d = new Date();
            d.setTime(d.getTime() + expires * 1000);
            expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
            options.expires = expires.toUTCString();
        }

        value = encodeURIComponent(value);

        var updatedCookie = name + "=" + value;

        for (var propName in options) {
            updatedCookie += "; " + propName;
            var propValue = options[propName];
            if (propValue !== true) {
                updatedCookie += "=" + propValue;
            }
        }
        document.cookie = updatedCookie;
    }

    function deleteCookie(name) {
        setCookie(name, "", {
            expires: -1
        });
        location.reload();
    }
</script>
</body>

</html>
