{% extends 'base3.html.twig' %}
{% block stylesheets %}
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        header .container .addNewContent {
            display: none!important;
        }
        .main {
            max-width: 1204px;
            position: relative;
            top: 100px;
            border: 2px solid #ca2626;
            background: #0f0f0f;
            text-align: center;
            -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow:    2px 2px 10px 0px rgba(0, 0, 0, 1);
            box-shadow:         2px 2px 10px 0px rgba(0, 0, 0, 1);
        }
        .mainWrapper {
            padding: 0 15px;
        }
        #btn {
            width: 100px;
            height: 50px;
            margin: 25px 0 10px 0;
            font: bold 14px sans-serif ;
        }
        div.popup {
            position: absolute;
            top: 150px;
            width: 80%;
            background: #000000;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 10px 0;
            border: 3px solid #0a0a0a;
            border-radius: 10px;
            text-align: center;
            font-family: sans-serif;
            color: #fff;
            font-size: 32px ;
        }
        div.popup a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            color: rgba(219, 219, 219, 0.68);

        }

        .bt_wrapper {
            height: 40px;
            background-color: #373737;
            position: fixed;
            left: 0;
            right: 0;
            text-align: left;
            transition: bottom .2s linear;
        }
        .bt_wrapper> *{
            display: inline-block;
        }
        .contentWrapper {
            overflow: hidden;
        }
        .tr_button {
            display: inline-block;
        }
        audio {
            display: none;
        }
        progress {
            position: fixed;
            top: 0;
            width: 100%;
            border-radius: 2px;
        }
        progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 2px;
        }
        progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }
        progress[value]::-webkit-progress-value {
            background: red;
        }
        #original_bt {
            display: none;
        }


        /*========================
                   MATIRIA
        =========================*/
        .mdl-layout {
            padding-bottom: 40px;
        }
        .mdl-layout__drawer {
            z-index: 101;
        }
        .mdl-layout__container {
            top:0;
        }
        .mainWrapper .mdl-textfield__input {
            color: white;
            padding-left: 10px;
            padding-right: 87px;
            box-sizing: border-box;
        }
        .mainWrapper .mdl-textfield__label {
            padding: 0 0 0 10px;
            box-sizing: border-box;
        }
        .onceOutputSub .mdl-button {
            right: 27px;
            top:0;
        }

        .note.mute {
            background-color: rgba(255, 0, 0, 0.55);
        }
        .note {
            background-color: #4f805d;
            line-height: 40px;
            padding: 0 10px;
            margin-right: 17px;
            transition: all .2s linear;
        }
        .note i {
            vertical-align: middle;
        }
        .audName {
            color: white;
            margin-right: 7px;
            overflow: hidden;
            white-space: nowrap;
            max-width: 500px;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
        .mdl-switch {
            width: auto;
        }
        .mdl-switch__thumb {
            background-color: #a7a7a7;
        }
        .mdl-switch.is-checked .mdl-switch__thumb{
            background-color: #ffffff;
        }
        .mdl-switch.is-checked .mdl-switch__track {
            background: rgba(10, 10, 10, 0.5);
        }
        .mdl-switch__ripple-container .mdl-ripple {
            background-color: #fff;
        }
        .build {
            position: fixed;
            width: 40px;
            height: 40px;
            bottom: 0;
            right: 35px;
            background-color: #222222;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        .build i{
            vertical-align: middle;
        }
        .mdl-button--raised, .mdl-button--fab{
            background-color: rgb(195, 195, 195);
        }
        .mdl-button:hover {
            background-color: #fff;
        }
        .mdl-textfield__label:after {
            background-color: #fff;
        }
        /*=========================
                   FORM
      =========================*/

        form {
            padding: 20px;
            color: white;
        }
        form .mdl-textfield {
            width: 100%;
        }
        .mdl-textfield__label:after {
            background-color: white;
        }

        .mdl-snackbar__action {
            opacity: 1;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px #131313 inset;
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: white;
        }

        .formWrapper {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;
            z-index: 10;
            background-color: rgba(0,0,0,.5);
            -webkit-transition: visibility .2s linear;
            -moz-transition: visibility .2s linear;
            -o-transition: visibility .2s linear;
            transition: visibility .2s linear;

        }
        .formWrapper  .mdl-cell {
            position: absolute;
            top: -450px;
            padding-right: 26px;
            -webkit-transition: top .2s cubic-bezier(.4,0,.2,1);
            -moz-transition: top .2s cubic-bezier(.4,0,.2,1);
            -o-transition: top .2s cubic-bezier(.4,0,.2,1);
            transition: top .2s cubic-bezier(.4,0,.2,1);
        }
        .formWrapper.show {
            visibility: visible;

        }
        .formWrapper.show .mdl-cell {
            top:150px;
        }
        .formWrapper label[for=audio] {
            color: white;
            bottom: -41px;
        }
        .buttonWrapper {
            text-align: right;
        }
        .buttonWrapper button.mdl-button--accent.mdl-button--accent, .buttonWrapper input.mdl-button--accent.mdl-button--accent {
            color: white;
            background-color: #0c0c0c;
        }


    </style>
{% endblock %}
{% block body %}
    <div class="mainWrapper">
    <div class="main">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div class="contentWrapper">
            <div class="videoContent">
                <div class="playerWrapper">
                    <div id="player"></div>
                    <div class="infoWrapper">
                        <div id="info"></div>
                    </div>
                </div>

                <div id="timeZoneWrapper">
                    <div id="timeZone">
                        <div id="pointer">
                            <div class="drupper"></div>
                        </div>
                        <canvas id="canvas" height="100"></canvas>
                    </div>
                </div>


                <!--<div id="currentTimeDiv"></div>-->
            </div>
            <div class="subContent">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea id="tempText" class="mdl-textfield__input" type="text" rows= "5" ></textarea>
                        <label class="mdl-textfield__label" for="sample5" style="color: #4f4f4f;">Введите текст субтитров</label>
                            <button id="addBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                <i class="material-icons">add</i>
                            </button>
                    </div>
                <div class="outputSub">
                    <div class="onceOutputSub">
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows= "4" ></textarea>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                                <i class="material-icons">remove</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Готово
        </button>
        <!--<input type="button" value="Send Subtitles" id="btnAjax">-->
    </div>
    </div>
{% if audio == 'true' %}
    <audio controls id="audio" preload="metadata">
    </audio>
    <div id="progress_mp3"></div>
    <div id="progress_ogg"></div>
    <div class="bt_wrapper" style="bottom: -40px">
        <div class="note mute" id="note" style="margin-right: 10px">
            <i class="material-icons">audiotrack</i>
        </div>
        <div class="audName">
            <span>{{ audioTitle }}</span>
        </div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2" style="margin-right: 25px">
                <input type="checkbox" id="switch-2" class="mdl-switch__input">
                <span class="mdl-switch__label"></span>
            </label>
        <div class="note" id="translate">
            <i class="material-icons">g_translate</i>
        </div>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
            <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
            <span class="mdl-switch__label"></span>
        </label>
    </div>
    <div class="build" id="build" onclick="toggleToolsBar()"><i class="material-icons">build</i></div>
    <script>
        window.onbeforeunload = function() {
            return "Данные не сохранены. Точно перейти?";
        };
        var loaderWrapper = document.getElementsByClassName('loaderWrapper')[0];
        var checkAjax = false;
       // var $_FILES = <?php echo json_encode($_FILES); ?>;
        var $_POST ="{{ id }}";
        var audUrl = true;
        var btn = document.getElementById('btn');
        btn.addEventListener('click', addToSQL);
        function addToSQL() {
            window.onbeforeunload = function () {
                console.log('exit');
            };
            loaderWrapper.style.display = 'table';
            this.disabled = true;
            player.mute();
            makeAjax();
        }
        function actWhenLoad() {
            window.location.href = "/";
    }
        var newTag = document.createElement('script');
        try {
            /*var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
             newTag.setAttribute('src', 'scripts/preview.webAudio.js');*/
            newTag.setAttribute('src', 'scripts/subeditor_and_audio.js');
        } catch (e){
            newTag.setAttribute('src', 'scripts/subeditor_and_audio.js');
        } finally {
            document.body.appendChild(newTag);
        }
        function makeAjax() {
            var data = new FormData();
            data.append('subtitles', JSON.stringify(subtitles));
            data.append('idvid', video_id);
            var url = 'sendSubtitles.php';
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.addEventListener('load', loadAjax);
            request.open('POST', url, true);
            request.send(data);
            function loadAjax(e) {
                var data = e.target;
                if (data.status == 200) {
                    var data = new FormData();
                    data.append('idvid',"{{ id }}");
                    data.append('audurl', audUrl);
                    data.append('title', "{{ title }}");
                    data.append('descript', "{{ descript }}");
                var request = new XMLHttpRequest();
                /* var xmlupload = request.upload;*/
                request.addEventListener('load', actWhenLoad);
                request.open('POST', 'adding_and_audio.php', true);
                request.send(data);
            } else {
                console.log('checkAjax no check');
            }
        }
    }
    </script>
{% endif %}
    {% if audio == NULL %}
        <div class="bt_wrapper" style="bottom: -40px">
            <div class="note" id="translate">
                <i class="material-icons">g_translate</i>
            </div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
                <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
                <span class="mdl-switch__label"></span>
            </label>
        </div>
        <div class="build" id="build" onclick="toggleToolsBar()"><i class="material-icons">build</i></div>
        <script>
            window.onbeforeunload = function() {
                return "Данные не сохранены. Точно перейти?";
            };
            var loaderWrapper = document.getElementsByClassName('loaderWrapper')[0];
            var checkAjax = false;
            //var $_FILES = <?php echo json_encode($_FILES); ?>;
            var $_POST = "{{ id }}";
            var audUrl = null;


            var btn = document.getElementById('btn');
            btn.addEventListener('click', addToSQL);

            function addToSQL() {
                window.onbeforeunload = function() {
                    console.log('exit');
                };
                loaderWrapper.style.display = 'table';
                this.disabled = true;
                player.mute();
                makeAjax();


            }
            function actWhenLoad() {
              window.location.href = "/";
            }

            var newTag = document.createElement('script');
            try {
                /*var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
                 newTag.setAttribute('src', 'scripts/preview.webAudio.js');*/
                newTag.setAttribute('src', 'scripts/subeditor.js');
            } catch (e){
                newTag.setAttribute('src', 'scripts/subeditor.js');
            } finally {
                document.body.appendChild(newTag);
            }


            function makeAjax() {
                var data = new FormData();
                data.append('subtitles', JSON.stringify(subtitles));
                data.append('idvid', video_id);
                var url = 'sendSubtitles.php';
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.addEventListener('load', loadAjax);
                request.open('POST', url, true);
                request.send(data);
                function loadAjax(e) {
                    var data = e.target;
                    if (data.status == 200) {
                        var data = new FormData();
                        data.append('idvid', "{{ id }}");
                        data.append('audurl', audUrl);
                        data.append('title', "{{ title }}");
                        data.append('descript', "{{ descript }}");
                        var request = new XMLHttpRequest();
                        /* var xmlupload = request.upload;*/
                        request.addEventListener('load', actWhenLoad);
                        request.open('POST', 'adding.php', true);
                        request.send(data);
                    } else {
                        console.log('checkAjax no check');
                    }
                }
            }


        </script>
    {% endif %}
{% endblock %}


{% block scripts %}
    <script>
        // A U T H  F O R M
        var nav_auth = document.getElementById('nav_auth');
        var drawer_auth = document.getElementById('drawer_auth');
        var authFormWrapper = document.getElementById('authFormWrapper');
        var authCancelBtn = document.getElementById('authCancelBtn');
        var authForm = document.forms.authForm;
        nav_auth.onclick = showForm;
        drawer_auth.onclick = showForm;
        authCancelBtn.onclick = hideForm;
        function showForm(e) {
            e.preventDefault();
            authFormWrapper.classList.add('show');
            authForm.removeAttribute('novalidate');
            window.addEventListener('click', addListenerOnWindow)
        }
        function hideForm(e, wrapperId) {
            e ? e.preventDefault() : false;

            window.removeEventListener('click', addListenerOnWindow);
            if(wrapperId){
                wrapperId.classList.remove('show');
                document.querySelector('#' + wrapperId.id + ' form').setAttribute('novalidate', '');
                return;
            }
            authFormWrapper.classList.remove('show');
            authForm.setAttribute('novalidate', '');
        }

        function addListenerOnWindow(ev) {
            if(ev.target.className.indexOf('show')>0){
                hideForm(false, ev.target)
            }
        }
    </script>

{% endblock %}
